<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>baordList</title>
</head>

<div layout:fragment="content">
  <div class="row mb-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Board List
        </div>
      </div>

      <div class="card-body">

      </div>
    </div>
  </div>
</div>

</html>